* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #000000;
  color: #dddddd;
}
#box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
#box #quiz-box {
  flex: 0 1 auto;
  padding: 50px;
}
#box #space-box {
  flex: 1 1 auto;
}
#box #score-box {
  position: relative;
  flex: 0 1 150px;
}
#page-title {
  margin-top: 30px;
}
#page-title div {
  text-align: center;
}
#quiz-date {
  color: #ffdd00;
  font-size: 16pt;
  text-transform: uppercase;
}
#title {
  color: #dddddd;
  font-size: 40pt;
}
#total-score {
  color: #ffdd00;
  font-size: 16pt;
}
#question-what-links {
  margin-left: 60px;
  visibility: hidden;
  color: #666666;
  font-size: 12pt;
  font-weight: 700;
  text-transform: uppercase;
}
#question-what-links i {
  vertical-align: middle !important;
}
#question-what-links.visible {
  visibility: visible;
}
#question-number {
  color: #dddddd;
  font-size: 24pt;
  float: left;
}
#question {
  margin-left: 60px;
  color: #dddddd;
  font-size: 24pt;
}
#answer {
  margin-left: 60px;
  color: #ffdd00;
  font-size: 24pt;
  margin-top: 10px;
}
#nav-left {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  z-index: 500;
  left: 0;
}
#nav-right {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  z-index: 500;
  right: 0;
}
#score-tick {
  position: absolute;
  z-index: 1000;
  width: 50px;
  height: 50px;
  border: 2px solid #666666;
  border-radius: 100%;
  margin: 50px;
}
#score-tick img {
  width: 50px;
  height: 50px;
  visibility: visible;
}
#score-tick.full {
  border-color: #ffdd00;
}
#score-tick.none img {
  visibility: hidden;
}
@media (max-width: 700px) {
  #box #quiz-box {
    padding: 25px;
  }
  #box #score-box {
    flex-basis: 100px;
  }
  #score-tick {
    margin: 25px;
  }
  #question-what-links {
    margin-left: 0;
  }
  #question-number {
    float: none;
    display: inline;
  }
  #question-number::after {
    content: " ";
  }
  #question {
    margin-left: 0;
    display: inline;
  }
  #answer {
    margin-left: 0;
  }
}
