* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  color: #ddd;
}
.hidden {
  opacity: 0;
}
#loader-container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#loader-container #loader {
  height: 20px;
  width: 40px;
  background-color: #fd0;
  border-radius: 10px;
  animation: 1s infinite ease-in-out spin;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#quiz-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-between;
}
#quiz-container #question-container {
  flex: 0 1 auto;
  padding: 50px;
}
#quiz-container #title-container {
  flex: 0 1 auto;
}
#quiz-container #buttons-container {
  position: relative;
  flex: 0 0 100px;
}
#page-title div {
  text-align: center;
}
#quiz-date {
  color: #fd0;
  font-size: 16pt;
  text-transform: uppercase;
}
#title {
  color: #ddd;
  font-size: 40pt;
}
#total-score {
  color: #fd0;
  font-size: 16pt;
}
#question-what-links {
  margin-left: 60px;
  visibility: hidden;
  color: #555;
  font-size: 12pt;
  font-weight: 700;
  text-transform: uppercase;
}
#question-what-links i {
  vertical-align: middle !important;
}
#question-what-links.visible {
  visibility: visible;
}
#question-number {
  color: #ddd;
  font-size: 24pt;
  float: left;
}
#question {
  margin-left: 60px;
  color: #ddd;
  font-size: 24pt;
}
#answer {
  margin-left: 60px;
  color: #fd0;
  font-size: 24pt;
  margin-top: 10px;
}
#nav-left {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  z-index: 100;
  left: 0;
}
#nav-right {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  z-index: 100;
  right: 0;
}
#buttons-container div {
  position: absolute;
  z-index: 200;
  width: 50px;
  height: 50px;
  border: 2px solid #333;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#buttons-container .button {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
#buttons-container .right {
  right: 50px;
}
#buttons-container .left {
  left: 50px;
}
#buttons-container #score-tick {
  background-color: #000;
  color: #000;
}
#buttons-container #score-tick.full {
  border-color: #fd0;
  background-color: #fd0;
  color: #000;
}
#buttons-container #score-tick.half {
  border-color: #333;
  background-color: #000;
  color: #fd0;
}
#buttons-container #score-tick .button {
  font-size: 36px;
  font-weight: bold;
}
#buttons-container #score-share {
  border-color: #333;
  background-color: #000;
  color: #fd0;
}
#buttons-container #score-share .button {
  font-size: 30px;
}
#buttons-container #score-share:active {
  border-color: #fd0;
  background-color: #fd0;
  color: #000;
}
#buttons-container #skip-to-answers {
  border-color: #333;
  background-color: #000;
  color: #fd0;
}
#buttons-container #skip-to-answers .button {
  font-size: 36px;
}
#buttons-container #skip-to-answers.selected {
  border-color: #fd0;
  background-color: #fd0;
  color: #000;
}
@media (max-width: 700px) {
  #quiz-container #question-container {
    padding: 25px;
  }
  #quiz-container #buttons-container {
    flex-basis: 75px;
  }
  #buttons-container .left {
    left: 25px;
  }
  #buttons-container .right {
    right: 25px;
  }
  #question-what-links {
    margin-left: 0;
  }
  #question-number {
    float: none;
    display: inline;
  }
  #question-number::after {
    content: " ";
  }
  #question {
    margin-left: 0;
    display: inline;
  }
  #answer {
    margin-left: 0;
  }
}
/*# sourceMappingURL=styles.css.map */