name: Build and test
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
env:
  Guardian__ApiKey: ${{ secrets.GUARDIAN_API_KEY }}

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
          dotnet-quality: ga
      - name: Build release build
        run: dotnet build -c Release
      - name: Run unit tests
        run: dotnet test SaturdayQuizWeb.UnitTests -c Release -v normal
      - name: Run integration tests
        run: dotnet test SaturdayQuizWeb.IntegrationTests -c Release -v normal --filter Category!=LongRunning
        if: github.actor != 'dependabot[bot]'
      - name: Run JavaScript tests
        run: |
          cd SaturdayQuizWeb.JavaScriptTests
          npm install
          npm test
